<mat-card>
    <mat-card-content>
        <div class="grid-container">
            <div *ngFor="let card of cards" >
                <div *ngIf="cards.length > 1; else elseTemplate">
                    <img [src]="card.imagePath" alt="Poker Card" class="grid-item" >
                </div>   
                <ng-template #elseTemplate>
                    <div >
                        <img [src]="card.imagePath" alt="Poker Card" class="grid-item" >
                    </div> 
                </ng-template>
                     
            </div>
        </div>
        <div>
            <button mat-raised-button color="primary" [disabled]="isLoading" 
            (click)="showCardGrid()">Show Card Grid
              </button>

              <button style="float: right;" mat-raised-button color="primary" [disabled]="isLoading" 
            (click)="sortCardGrid()">Sorted Card Grid
              </button>
        </div>
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

        
    </mat-card-content>
</mat-card>



