.poker-card {
    width: 100px;
    height: 150px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    position: relative;
    animation: rotate-card 2s infinite;
  }
  
  @keyframes rotate-card {
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  mat-card {
    max-width: auto;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
  }
  
  mat-progress-bar {
    margin-top: 20px;
  }
  